.banner-container {
    animation: animate 50s ease-in-out infinite;
    background-size: cover;
    background-position: center;
}

@keyframes animate {

    0%,
    100% {
        background-image: url(../../assets/hero-banner-1.jpg);
    }

    25% {
        background-image: url(../../assets/hero-banner-2.jpg);
    }

    50% {
        background-image: url(../../assets/hero-banner-3.jpg);
    }

    75% {
        background-image: url(../../assets/hero-banner-4.jpg);
    }
}